.log
.snap
.index
.xmi
.ini
*.index
*.dat
eclipse-workspace/.metadata/.log
eclipse-workspace/.metadata/.log
eclipse-workspace/.metadata/.plugins/org.eclipse.core.resources/.history/52/c0e5069ccf36001b17c2941c48eb0911
eclipse-workspace/.metadata/.log
eclipse-workspace/.metadata/.plugins/org.eclipse.core.resources/.history/49/70018ba6cf36001b17c2941c48eb0911
eclipse-workspace/.metadata/.plugins/org.eclipse.core.resources/.history/73/a0aa8315d036001b17c2941c48eb0911
eclipse-workspace/.metadata/.plugins/org.eclipse.core.resources/.history/ad/90c1f1facf36001b17c2941c48eb0911
*.snap
*.snap
eclipse-workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/HappyGraden/.markers.snap
*.snap
eclipse-workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/HappyGraden/.markers.snap
*.dat
eclipse-workspace/.metadata/.plugins/org.eclipse.wst.server.core/publish/publish0.dat
eclipse-workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/HappyGraden/.syncinfo.snap
eclipse-workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap
eclipse-workspace/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
eclipse-workspace/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
eclipse-workspace/.metadata/.plugins/org.eclipse.jdt.core/3665963239.index
eclipse-workspace/.metadata/.plugins/org.eclipse.wst.server.core/publish/publish0.dat
eclipse-workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/HappyGraden/.markers.snap
eclipse-workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/HappyGraden/.markers.snap
eclipse-workspace/.metadata/.log
eclipse-workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/HappyGraden/.syncinfo.snap
eclipse-workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap
eclipse-workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap
eclipse-workspace/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
eclipse-workspace/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
eclipse-workspace/.metadata/.plugins/org.eclipse.core.resources/24.snap
eclipse-workspace/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
eclipse-workspace/.metadata/.plugins/org.eclipse.jdt.core/3665963239.index
eclipse-workspace/.metadata/.plugins/org.eclipse.wst.server.core/publish/publish0.dat
